<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Feito em:</strong>
  <%= @task.when_done %>
</p>

<%= link_to 'Editar', edit_task_path(@task) %> |
<%= link_to 'Voltar', tasks_path %>
